
{% extends 'layout.html' %}


{% block title %}Index{% endblock %}


{% block content %}


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for row in data %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.address }}</td>
      <td>
          <span><a href="update/{{ row.id }}" class="btn btn-primary btn-sm">UPDATE</a></span>
          <span><a href="view/{{ row.id }}" class="btn btn-success btn-sm">VIEW</a></span>
          <span><a href="delete/{{ row.id }}" class="delete btn btn-warning btn-sm">DELETE</a></span>

      </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>


<script>


    $(document).ready(function(){

       $('.delete').click(function(){

            if(confirm('Are you sure to delete this item?')) {

                return true;
            }
            else
            {
                return false;
            }
       });

    });

</script>

{% endblock %}




